.cart-icon {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    background-color: #f69292;
    padding: 0 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.cart-icon:hover {
    background-color: #ffbdf4;
    cursor: pointer;
}

.cart-icon img {
    margin-right: 24px;
    display: block;
    width: 24px;
    height: 24px;
}

.cart-icon p {
    margin: 10px 0;
    font-size: 24px;
    color: white;
}

.cart-icon p span {
    padding: 6px 16px;
    background-color: darkred;
    border-radius: 50%;
}