.cart-icon {
    height: 40%;
    width: 10vw;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f69292;
    padding: 0 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.cart-icon:hover {
    background-color: #ffbdf4;
    cursor: pointer;
}

.cart-icon img {
    margin-right: 24px;
    display: block;
    width: 24px;
    height: 24px;
}

.cart-icon p {
    display: flex;
    margin: 5px 0;
    color: white;
}

.cart-icon p span {
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    padding: 4px 12px;
    background-color: darkred;
    border-radius: 50%;
}

@media screen and (max-width: 1150px) {
    .cart-icon {
        margin: 5px;
    }

    .cart-icon img {
        margin-right: 18px;
        width: 20px;
        height: 20px;
    }

    .cart-icon p {
        margin: 5px 0;
        font-size: 20px;
    }

    .cart-icon p span {
        padding: 4px 12px;
    }
}