.header-container {
    width: 100%;
    height: 20vh;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkred;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .header-container {
        padding: 0 10px 0 10px;
        flex-direction: column;
        justify-content: center;
        height: 20vh;
    }

    .logo {
        margin: 5px;
        font-size: 24px;
    }
}