.form-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background-color: darkred;
    border-radius: 20px;
    padding: 20px;
}

h2 {
    margin: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    margin: 10px;
    padding: 5px;
    width: 80%;
    height: 40px;
    font-size: 16px;
}

.form-wrapper button {
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: darkred;
    border-radius: 20px;
    transition: 0.3s;
}

.form-wrapper p {
    margin: 0;
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: #490101;
}

button:hover {
    background-color: #490101;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 850px) {
    .form-wrapper {
        height: 85vh;
    }

    form {
        width: 80%;
    }

    h2 {
        margin: 5px;
        font-size: 20px;
    }

    input {
        margin: 10px;
        padding: 5px;
        width: 90%;
        font-size: 16px;
    }

    .form-wrapper button {
        margin: 5px;
        padding: 15px;
        font-size: 18px;
    }
}