.menu-wrapper {
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #222;
}

@media screen and (max-width: 900px) {
    .menu-wrapper {
        margin: 20px;
        flex-direction: column;
    }
}