.error-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20vh;
}

.typing {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #ff4c4c;
    font-size: 1.2rem;
    margin-top: 30px;
    color: white;
    animation: typing 2s steps(40), blink .7s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}