.navcomp-wrapper {
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

a {
    margin-right: 20px;
    padding:0 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: darkred;
    border-radius: 20px;
    transition: 0.3s;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    border-radius: 20px;
}

.user-wrapper button {
    padding:0 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: darkred;
    border-radius: 20px;
    transition: 0.3s;
}

.user-wrapper button:hover {
    background-color: #490101;
    cursor: pointer;
}

span {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

span:hover {
    cursor: default;
}

a:hover {
    background-color: #490101;
    cursor: pointer;
}

.active {
    background-color: #490101;
}

@media screen and (max-width: 1050px) {
    .navcomp-wrapper {
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    a {
        margin-right: 5px;
        padding:0 10px;
        font-size: 16px;
        border-radius: 20px;
        transition: 0.3s;
    }

    .user-wrapper button {
        font-size: 16px;
        border-radius: 20px;
    }

    span {
        font-size: 12px;
    }
}