.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
}

.orders-table th {
    background-color: darkred;
    color: white;
    padding: 6px 7px;
    border: 1px solid #ddd;
}

.orders-table td {
    color: white;
    padding: 6px 7px;
    border: 1px solid #ddd;
}

.orders-table tr:nth-child(even) {
    background-color: #565656;
}

.orders-table tr:hover {
    background-color: #c70000;
}

.order-status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.order-status.open {
    background-color: #5cb85c;
    color: white;
}

.order-status.closed {
    background-color: #d9534f;
    color: white;
}

@media screen and (max-width: 950px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
