.supply-item-wrapper {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    border-bottom: 1px solid #b4b3b3;
    width: calc(33.3% - 20px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #fff;
}

.supply-item-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.supply-item-wrapper img {
    width: 150px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.supply-item-description {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.supply-item-order {
    display: flex;
    margin-left: 5px;
    align-self: center;
    width: 20%;
}

.supply-item-order form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.supply-item-order form input {
    height: 40px;
    width: 80%;
    font-size: 16px;
    text-align: center;
}

.supply-item-order form label {
    padding: 0 10px;
    font-weight: bold;
}

.supply-item-order form button {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    justify-self: center;
    border-radius: 20px;
    border: none;
    background-color: darkred;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}


.supply-item-description p {
    margin-left: 10px;
    padding-bottom: 5px;
}

.supply-item-description p:first-child {
    font-weight: bold;
}

.supply-item-description p:nth-child(2) {
    font-style: italic;
    font-size: 16px;
}

@media screen and (max-width: 1150px) {
    .supply-item-wrapper {
        flex-direction: column;
        width: calc(100% - 20px);
    }

    .supply-item-wrapper img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .supply-item-description {
        width: 100%;
        align-items: center;
    }

    .supply-item-order {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
    }

    .supply-item-order form {
        flex-direction: column;
    }

    .supply-item-order form input {
        width: 30%;
    }

    .supply-item-description p {
        margin: 5px;
    }

    .supply-item-order form button {
        width: 80%;
        margin: 20px 0;
    }
}