.table-wrapper {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: seashell;
}

.table-wrapper h1 {
    text-align: center;
}